 <div class="flexrow">
        {{#if (eq this.type 'friendly')}}<i class="far fa-grin-beam token-display-icon flex0" title="{{localize "combat-hp-display.hpDisplaySettings.friendlyTokens"}}"></i>{{/if}}
        {{#if (eq this.type 'neutral')}}<i class="far fa-meh token-display-icon flex0" title="{{localize "combat-hp-display.hpDisplaySettings.neutralTokens"}}"></i>{{/if}}
        {{#if (eq this.type 'hostile')}}<i class="far fa-angry token-display-icon flex0" title="{{localize "combat-hp-display.hpDisplaySettings.hostileTokens"}}"></i>{{/if}}
        <select name="combat.{{this.type}}.value" class="flex1">
            {{selectOptions this.displayChoisesTo selected=combatSelected nameAttr="value" labelAttr="name"}}
        </select>
        {{#if barbrawl}}<input id="gmOnly" type="checkbox" name="combat.{{this.type}}.gmOnly" data-dtype="Boolean" class="gm-row" {{checked gmOnly}} />{{/if}}
</div>